body {
  font-family: Sans-Serif;
  text-align: center;
  background-color: #ceeff5;
}
.container{
    border-radius: 5px; 
    border: 2px solid lightblue;
}
.flex-container{
    display: flex;
}
.flex-container span{
    justify-content: center;
    flex:1;
    border: 2px solid red;

}