.gallery-container {
  max-width: 600px; 
  margin: 0 auto;
}


.image-gallery-slide .image-gallery-image {
  height: 400px;      
  object-fit: contain;
  background-color: #1a1a1a; 
}


.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 60px;
  object-fit: cover;
}


.image-gallery, 
.image-gallery-content, 
.image-gallery-thumbnails-wrapper {
  background: transparent !important;
  padding-bottom: 0 !important;
}


.image-gallery-description {
  background: rgba(0, 0, 0, 0.7) !important;
  bottom: 15px !important;
}

.image-gallery-play-button {
  left: 20px !important;
  bottom: auto !important;
  top: 20px !important;
}