.gallery-container {
  width:95%;
  max-width: 800px; 
  margin: 20px auto;
  
}

.image-gallery-slide {
  height: 400px;
  display: flex;
  align-items: center;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  height: auto;                
  object-fit: contain;   
  background-color: #C9CEEC; 
}


.image-gallery-description {
  background: rgba(0, 0, 0, 0.7);
  bottom: 20px !important;
}


