.gallery-container {
  width:95%;
  max-width: 1200px; 
}

.image-gallery-slide {
  height: 500px;
  width: 50%;
  align-items: center;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  height: 100%;                
  object-fit: contain;   
  background-color: #C9CEEC; 
}


.image-gallery-description {
  background: rgba(0, 0, 0, 0.7);
  bottom: 20px !important;
}


