.nav-container{
  padding-right:70px;
}
ul {
  
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  display: flex;          
}


ul li a {
  display: block;
  color: #051319;
  padding: 14px 16px;
  
}
